/*!* SETUP FROM W3*!*/
html{
    box-sizing:border-box
}*,*:before,*:after{box-sizing:inherit}
html{
    -ms-text-size-adjust:100%;-webkit-text-size-adjust:100%
}
body {
    margin: 0
}

img{
    border-style:none}

button,input,select,textarea,optgroup{
    font:inherit;
    margin:0}

button,input{
    overflow:visible}

button,select{
    text-transform:none}

body {
    font-family: "Times New Roman", Georgia, serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Playfair Display", serif;
    letter-spacing: 5px;
}
/*!* NAV BAR*!*/
.top-nav{
    top:0;
    position: fixed;
    width: 100%;
    z-index: 1;
}
.white-banner{
    color: #000;
    background-color: #fff;
}
.padding-nav{
    padding: 8px 16px;
}

.bar{
    width:100%;
    overflow: hidden;
}
.bar .button{
    white-space:normal;

}
.bar .bar-button {
    padding: 8px 16px;
    float: left;
    width: auto;
    border: none;
    display: block;
    outline: 0;
}
.btn .button{
    user-select: none;
}
.button{
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;

}
.button:hover{
    background-color: lightgray;
}
.right{
    float: right;
}

.display-container{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: 4px;
}

.image-banner{
    max-width: 100%;
    height:auto;
    vertical-align: middle;
    border-style: none;

}
}
